@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-button-prev, .swiper-button-next  {
  width: 30px !important;
  height: 30px !important;

  color: rgba(255,255,255,1) !important;
}